.magicpattern {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M811.5 677.5Q705 855 488.5 875T155 697.5Q38 500 175 337t332-175q195-12 303 163t1.5 352.5Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%235260ff%22 d=%22M811.5 677.5Q705 855 488.5 875T155 697.5Q38 500 175 337t332-175q195-12 303 163t1.5 352.5Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
